.flex {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
   
}

.flexColum {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexColumStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    width: 100%;
}

.title{
    color: #FFD336;
    text-shadow: 0px 0px 10px red;
    letter-spacing: 0.1rem;
}

.ico{
    max-width: 1.2rem;
}

.flexSpan {
    display: flex;
    align-self: flex-start;
    text-align: left;
    align-items: center;
    gap: 0.625rem;
    
}

.flexSpan Span{
    padding-bottom: 0.15rem;
    color: #fff;
}

.flexSpan img{
    border-radius: 50%;
    animation: pokeball 1s ease-in-out infinite alternate-reverse;
}

@keyframes pokeball {
    0%{
        rotate: 0deg;
    }
    25%{
        rotate: 45deg;
    }
    50%{
        rotate: 0deg;
        border-radius: 50%;
        background: #FFD336;
        box-shadow: 0 0 2px #FFD336,
        0 0 5px #FFD336,
        0 0 10px #FFD336,
        0 0 20px #FFD336;

    }
    100%{
        rotate: -45deg;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.925rem;
    font-size: 1.25em;
    max-width: 100%;

}

.landing_text_div {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 4em;
    max-width: 50vw;
}

/* .landing_text_div_homeButton {
    position:relative;
    right: 3em;
    margin-top: 3em;
    background: rgb(210,35,50);
    background: linear-gradient(138deg, rgba(210,35,50,1) 13%, rgba(255,81,0,1) 40%, rgba(241,255,0,0.9026961126247374) 92%);
    border-radius: 1em;
    width: 20%;
    height: 8vh;
    border: 0px solid rgb(176, 27, 27);
    box-shadow: 4px 5px 10px -3px rgb(254, 207, 0);
    animation: fireButton 2s infinite;
}
.landing_text_div_homeButton:hover {
    box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.64); 
} */

.button {
    left: 100px;
    padding: 2px 20px;
    bottom: 16%;
    font-size: 24px;
    width: 150px;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #9B2BC1;
    background-color: #FFCC00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #762B8E;
    font-weight: 700;
    transition: 0.6s;
}
  
  .button:hover {
    background-color: #762B8E;
    background: #762B8E;
    box-shadow: 0 0 5px #FFCC00,
    0 0 15px #FFCC00,
    0 0 30px #FFCC00,
    0 0 30px #FFCC00; 
    text-decoration: none; 
    color: #FFCC00; 
    font-weight: 700;
    box-shadow: 0 2px #FFCC00;
    transform: translateY(4px);
}











.ashPokemons {
    position:absolute;
    top: 0%;
    right: 0%;
    z-index: 997;
}

.fireGif {
    position:absolute;
    overflow: hidden;
    width: 600px;
    z-index: 998;
    right: 0%;
    bottom: 0%;
}
.pokes {
    position:absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    transform: scaleX(-1);
}

.fire {
    position:absolute;
    overflow: hidden;
    width: 600px;
    z-index: 1;
    left: 0%;
    bottom: 0%;
    transform: scaleX(-1);

}

@media (max-width: 1200px){

    .fire, .pokes {
        display: none;
    }

    .flex{
        margin: auto;
    }
}

@media (max-width: 900px){
    .flex{
        margin: auto;
        flex-direction: column-reverse;
        height: 100vh;
    }

    .flexColumStart{
        justify-content: center;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.325rem;
        font-size: 1.1rem;
        max-width: 100%;
    }

    .flexColum {
        width: 40vh;
    }

    .title{
        font-size: 1.5rem;
    }
}