.div_Sup {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: rgb(137,35,210);
    background: linear-gradient(138deg, rgba(137,35,210,1) 13%, rgba(199,13,215,1) 37%, rgba(241,255,0,0.9026961126247374) 92%);
}

.input{
    display: flex; 
    justify-content: space-between;
    margin-top: 1px;
}

.form{
    display:flex;
    flex-direction:column;
    width: 90%; 
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.span {
    font-weight:bold;
    width: 100%; 
    display: flex;
    justify-content: flex-end;
}

.error {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: rgb(232, 239, 43);
    font-size: 12px;
    padding-right: 10px;
    align-items: center;
}


.oak_img_div {
    position: relative;
    width: 33%;
    height: 100vh;
    left: 0px;
    bottom: 0px;
}

.oak_img {
    position: absolute;
    right: 0em;
    margin-top: 2em;
}

.form_div{
    display: flex;
    justify-content: center;
    width: 34%;
    height: 100%;
}

.description_fieldset {
    background-color: rgba(251, 0, 0, 0.878);
    color: rgba(255, 255, 255, 0.851);
    box-shadow: 1px 1px 20px 1px rgba(195, 0, 255, 0.379);
}

.card_preview_div {
    position: relative;
    width: 33%;
    height: 100%;
}

.pokedexTopHalf {
    position: absolute;
    top: 2.2em;
    left: 2em;
    z-index: 999;

}

.pokedexBottomHalf {
    position: absolute;
    bottom: 2em;
    left: 2em;
    z-index: 999;
}

.preview_div {
    position: absolute;
    display: grid;
    grid-template-areas: 
        "img img name name"
        "img img weight height"
        "img img attack defense"
        "img img hp speed";
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 30% 30% 20% 20%;
    background-color: rgb(239, 43, 43);
    width: 75%;
    height: 65%;
    border-radius: 1em;
    opacity: 30%;
    box-shadow: 2px 2px 5px 10px rgb(239, 43, 43);
    left: 2.6em;
    bottom: 6.5em;
    animation: ejemplo 5s infinite;
    animation-timing-function: cubic-bezier(.5,.54,.57,.56);
}

@keyframes ejemplo {
    5% {
        opacity: 30%;
    }
    20% {
        opacity: 40%;
    }
    35% {
        opacity: 60%;
    }
    50% {
        opacity: 60%;
        background-color: rgb(137,35,210);
        box-shadow: 2px 2px 5px 10px rgb(137,35,210);
    }
    65% {
        opacity: 60%;
    }
    80% {
        opacity: 40%;
    }
    95% {
        opacity: 30%;
    }
    
}


.div_grid_el{
    color: white;
    grid-area: name; 
    background-color:red;
    width:100%;
    height:100%;
    transition: 3s;
}

.div_grid_el::after{
    background-color:rgb(3, 3, 3);

}


